  <% provide(:title, @user.name) %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Hosted Events:</strong>
    <% @partial_events= @hosted_events %>
    <%= render 'shared/event_info' %>
  </p>
    <p>
    <strong>Upcoming Events:</strong>
    <% @partial_events= @upcoming_events %>
    <%= render 'shared/event_info' %>
  </p>
    <p>
    <strong>Hosted Events:</strong>
    <% @partial_events= @past_events %>
    <%= render 'shared/event_info' %>
  </p>

  <p>
    <strong>Upcoming Events:</strong>
    <% @upcoming_events.each do |event| %>
    <%= event.title %>
    <%= event.description %>
    <% end %>
  </p>

  <p>
    <strong>Past Events:</strong>
    <% @past_events.each do |event| %>
    <%= event.title %>
    <%= event.description %>
    <% end %>
  </p>

  <%= link_to 'Create New Event', new_event_path %>
