<% flash.each do |k, v| %>
  <%= content_tag :p, v, class: "#{k}" %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.date_and_time %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host.name %>
</p>

<p>
  <strong>Attendees:</strong>
  <ul>
  <% @event.attendees.each do |attendee| %>
    <li><%=attendee.name %></li>
  <% end %>
  </ul>
</p>

<p>



<% if logged_in? %>
  
  <%= render 'invitations/invitation_form'%>
  
  <div>
  <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'All Events', events_path %>
  </div>

<% else %>
  <%= link_to 'All Events', events_path %>
<% end %>
